.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0 16px;
    transition:border .5s ease-out;
    input{
        height: 55px;
        width: 100%;
        border: none;
        background-color: transparent;
        font-weight: bold;
    }
    input:focus{
        outline: none;
    }
    img{
        cursor: pointer;
    }
}
.null-error{
    color: var(--warn);
}
.validtion-err{
    border: 2px solid var(--warn);
}