.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-radius: 1rem;
    padding: 0 16px;
    
    input{
        height: 55px;
        width: 100%;
        border: none;
        background-color: transparent;
        font-weight: bold;
    }
    input:focus{
        outline: none;
    }
}
.null-error{
    color: var(--warn);
}