.main-container{
    display: flex;
    height: 2.1rem;
    flex-wrap: nowrap;
    width: 100%;
}
.right-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
    & :first-child{
        gap: 1.5rem;
    }

    
    .theme-toggler{
        display: flex;
    }
    .select-dropdown{
        position: absolute;
        flex-direction: column;
        top: 2rem;
        right: 0;
        padding: 1.5rem;
        z-index: 20;
        width: 150px;
        border-radius: 16px;
    }
}
.drop-down{
    position: relative;
    & :hover{
        .select-dropdown{
            height: 300px;
        }
    }
}
.separator{
    width: 1px;
    background-color: var(--grey-level-2);
    height: 100%;
    margin: 0 1rem;
}