.main-container{
    display: flex;
    height: 2.1rem;
    flex-wrap: nowrap;
    width: 100%;
}
.right-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
    & :first-child{
        gap: 1.5rem;
    }

    
    .theme-toggler{
        display: flex;
    }
    .select-dropdown{
        position: absolute;
        flex-direction: column;
        top: 2rem;
        right: 0;
        padding: 1.5rem;
        z-index: 20;
        width: 150px;
        border-radius: 16px;
        // overflow: hidden;
        .children{
            &:hover{
                color: var(--voilet);
                cursor: pointer;
            }
        }
    }
}
.drop-down{
    position: relative;
}
.separator{
    width: 1px;
    background-color: var(--grey-level-2);
    height: 100%;
    margin: 0 1rem;
}.show{
    display: flex;
    opacity: 1;
    overflow: hidden;
    height: auto;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}
.hide{
    height: 50px;
    opacity: 0;
    overflow: hidden;
    display: none;
    transition: opacity 0.1s ease-in-out, height 0.5s ease-in-out;
}