.player-container {
    .second-icon {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }
  
    .first-icon {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }
  
    &:hover {
      cursor: pointer;
      background-color: var(--voilet);
      .second-icon {
        opacity: 1;
        visibility: visible;
      }
  
      .first-icon {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  